body {
  background-color: #CCCCCC;
  margin: 0;
  padding: 0;
}

header {
  background-color: #000000;
  width: 100%;
  align-items: center;
}

nav {
  display: inline-block;
  align-items: center;
  display: none;
}

nav a {
  color: #FFFFFF;
  display: block;
  text-align: center;
  line-height: 50px;
  padding-right: 10px;
  text-decoration: none;
}

nav a.active {
  color: #b6ade3;
}

img {
  width: 80%;
  max-width: 600px;
}

.div_logo {
  display: flex;
  justify-content: center;
}

.main_logo {
  width: 32px;
  padding: 9px;
}

.menu_button {
  height: 50px;
  width: 50px;
  padding: 9px;
  float: left;
  display: inline;
  background-image: url("../images/menu.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

@media screen and (min-width: 700px) {
  .div_logo {
    float: left;
  }

  .main_logo {
  }

  .div_menu {
    display: none;
  }

  nav {
    display: inline-block;
  }

  nav a {
    display: inline-block;
    color: #FFFFFF;
    text-align: center;
    line-height: 50px;
    padding-right: 10px;
    text-decoration: none;
  }
}